.about {
  padding: 80px 20px;
  color: #486e74;
}
.dark .about {
  color: #c2fdd4;
}
.about h2 {
  margin-bottom: 50px;
}
.about h3 {
  border: 1px solid rgb(243, 194, 214);
  box-shadow: 0px 0px 15px 1px rgb(243, 194, 214);
  max-width: 100%;
  max-width: 120px;
  padding: 2px;
  border-radius: 10px;
  text-align: center;
  color: rgb(240, 180, 204);
  font-size: 2vh;
}
.about span {
  font-weight: bold;
  display: inherit;
}
.about .edu,
.about .job {
  border-bottom: 2px dotted rgb(143, 225, 221);
  border-radius: 50px 0px;
  margin-bottom: 60px;
}
.about .job {
  padding-right: 30px;
}

.cv {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (min-width: 375px) {
  .cv {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 820px) {
  .about {
    padding-top: 120px;
  }
}
