.about {
  padding: 80px 20px;
  color: #486e74;
}
.dark .about {
  color: #c2fdd4;
}
.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutMe img {
  height: 300px;
  border-radius: 0px 10px 50%;
}
.aboutMe p {
  text-align: end;
  font-family: "Old Standard TT", serif;
}

.about h2 {
  margin-bottom: 50px;
}
.about h3 {
  border: 1px solid rgb(243, 194, 214);
  box-shadow: 0px 0px 15px 1px rgb(243, 194, 214);
  max-width: 100%;
  max-width: 120px;
  padding: 2px;
  border-radius: 10px;
  text-align: center;
  color: rgb(240, 180, 204);
  font-size: 2vh;
}
.about span {
  font-weight: bold;
  display: inherit;
}
.about .edu,
.about .job {
  border-bottom: 2px dotted rgb(143, 225, 221);
  border-radius: 50px 0px;
  margin-bottom: 60px;
}
.about .job {
  padding-right: 30px;
}
.skillsAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.skillsAbout h1 {
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.cv {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (min-width: 375px) {
  .cv {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 120px;
  }
}

@media screen and (min-width: 700px) {
  .aboutMe img {
    height: 350px;
  }
  .aboutMe {
    flex-direction: row;
    align-items: end;
  }
}

@media screen and (min-width: 820px) {
  .about {
    padding-top: 120px;
  }

  .aboutMe img {
    height: 400px;
  }
}
