.home {
  padding: 50px 0px 80px 50px;
  height: 100vh;
  /* background: rgb(14, 14, 14); */
  /* background: radial-gradient(
    circle,
    rgba(128, 125, 125, 1) 0%,
    rgba(14, 14, 14, 1) 50%
  ); */
  color: blueviolet;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
}
.myImage {
  height: 130px;
  border-radius: 0% 10% 30%;
}

.home h1:nth-child(3) {
  margin-bottom: 60px;
}
.download {
  background-color: blueviolet;
  border-radius: 30%;
  padding: 10px;
  box-shadow: 1px 20px 50px rgb(65, 9, 155);
}
.download:hover {
  background-color: rgb(240, 19, 174);
  box-shadow: 1px 20px 50px rgb(155, 9, 111);
  padding: 12px;
}
@media screen and (min-width: 400px) {
  .myImage {
    height: 300px;
  }
}
@media screen and (min-width: 650px) {
  .home {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .myImage {
    height: 400px;
  }
}
