.certificates > h1 {
  text-align: center;
  margin-top: 120px;
}

.modal-image:hover {
  cursor: pointer;
}
.certificates-box {
  display: grid;
  grid-row: row;
}

.certificate {
  display: flex;
  gap: 10px;
  margin: 10px;
  cursor: pointer;
  border: 1px solid rgb(104, 186, 104);
  padding: 2px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px green;
  align-items: center;
}
.certificate:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
.dark .certificate {
  border: 1px solid #c2fdd4;
  box-shadow: 1px 0px 10px 1px #c2fdd4;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  /* width: 100vw; */
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* overflow-x: auto; */
  scrollbar-width: none;
  -ms-overflow-style: none;
  flex-wrap: nowrap;
  z-index: 99;
}
.dark .modal {
  background-color: rgba(13, 50, 27, 0.9);
}

.modal-image {
  margin: 10px;
  /* width: calc(50% - 20px);
  height: auto;
  max-width: none; */
  height: auto;
  max-width: 90vw;
  object-fit: contain;
}

.icon {
  width: 130px;
  height: 80px;
  align-self: center;
  object-fit: contain;
}
@media screen and (min-width: 600px) {
  .certificates-box {
    display: grid;
    grid-template-columns: auto auto;
  }
  .modal-image {
    height: 90%;
    /* max-width: auto; */
  }
}
