.header {
  background: #c2fdd4;
  box-shadow: 0px 1px 12px 20px #c2fdd4;
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 40px;
}

.dark .header {
  background-color: black;
  box-shadow: 0 1px 12px 20px black;
}
.mobileFlex {
  display: flex;
  align-items: center;
}
.logo {
  width: 150px;
  position: absolute;
  transform: translateY(-30%);
  cursor: pointer;
  z-index: 3;
}

.icons {
  display: none;
}

@media screen and (min-width: 650px) {
  .header .logo {
    width: 250px;
    top: 60%;

    /* transform: translateY(-10%); */
  }
}
@media screen and (min-width: 820px) {
  .icons {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    position: absolute;
    left: 89%;
    top: 75%;
  }
  .logo {
    left: 25%;
    top: 58%;
  }
  .dark .logo {
    top: 20px;
  }
  .header {
    padding-left: 8%;
  }

  .toggle,
  .lang {
    cursor: pointer;
  }
}
@media screen and (min-width: 1000px) {
  .icons {
    top: 50%;
  }
  .logo {
    left: 28%;
  }
}
