.header {
  background: #c2fdd4;
  box-shadow: 0px 1px 12px 20px #c2fdd4;
  display: flex;
  position: fixed; /* Change from relative to fixed */
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  height: 40px;
  z-index: 1000; /* Ensure header is always on top */
  transition: transform 0.3s ease; /* Add smooth transition for scroll hiding/showing */
}

.dark .header {
  background-color: black;
  box-shadow: 0 1px 12px 20px black;
}

body {
  padding-top: 50px; /* Slightly more than header height */
}

.mobileFlex {
  display: flex;
  align-items: center;
}
.logo {
  width: 150px;
  position: absolute;
  transform: translateY(-20%);
  cursor: pointer;
  z-index: 100;
}
.dark .logo {
  transform: translateY(-10%);
}

.icons {
  display: none;
}

@media screen and (min-width: 650px) {
  .header .logo {
    width: 250px;
    top: 60%;

    /* transform: translateY(-10%); */
  }
}
@media screen and (min-width: 820px) {
  .icons {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    position: absolute;
    left: 87%;
    top: 75%;
  }
  .logo {
    left: 25%;
    top: 58%;
    transform: translateY(-30%);
  }

  .header {
    padding-left: 8%;
  }

  .toggle,
  .lang {
    cursor: pointer;
  }
}
@media screen and (min-width: 1000px) {
  .icons {
    top: 50%;
  }
  .logo {
    left: 28%;
  }
}
