.Navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 10px;
  margin-right: 5px;
}

.menu img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.menu:hover img {
  transform: scale(1.1); /* Increase size on hover */
}

.links {
  display: none;
}

.dark .links.open {
  background-color: black;
}

.links.open {
  display: block;
  background: #9a9fe9;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 68px;
  animation: slideDown 0.9s ease forwards;
  opacity: 0.99;
}

.links.open ul {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 30px;

  box-shadow: 0px 30px 20px 20px #9a9fe9;
  font-size: 12vh;
  font-size: 40px;
  font-weight: bolder;
  line-height: 40px;
  letter-spacing: 2px;
  transition: max-height 3s ease;
}
.dark .links.open ul {
  box-shadow: 0 30px 20px 20px black;
}
.links.open ul li {
  padding-left: 50px;
}

body.en .links.open ul {
  font-size: 10vh;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 1px;
  text-align: left;
}

ul {
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgb(245, 244, 246);
  text-shadow: 1px 20px 30px 50px white;
  font-weight: bolder;
  /* font-size: 16px; */
}
.dark a {
  color: aqua;
}

a:hover {
  color: rgb(240, 157, 190);
  text-decoration: underline;

  transform: scale(1.05);
  transition: transform 0.2s ease;
}
.mobileIcons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 60px;
  padding-left: 50px;
}
.toggle,
.lang {
  width: 60px;
  height: 60px;
}

@media screen and (min-width: 650px) {
  .links.open {
    margin-top: 90px;
  }
}
@media screen and (min-width: 820px) {
  .Navbar {
    justify-content: space-between;
  }
  .links ul .mobileIcons {
    display: none;
  }
  .links ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 10px;
  }

  .menu {
    display: none;
  }

  .links {
    display: flex;
    align-items: center; /* Center the links horizontally */
  }

  /* .links.open {
    display: none;
  } */
}
@media screen and (min-width: 1000px) {
  .links ul {
    gap: 40px;
    padding-right: 40px;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
