.portfolioo {
  margin-top: 120px;
  color: #165b66;
  text-transform: uppercase;
  line-height: 2px;
}
.dark .portfolioo {
  color: #c2fdd4;
  text-transform: uppercase;
}
.portfolioo h2 {
  text-align: center;
  font-family: "Nothing You Could Do", cursive;
}

.projects {
  display: flex;
  row-gap: 5vw;
  column-gap: 5vh;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 120px;
}

.project {
  position: relative;
  cursor: pointer;
  width: 170px;
  height: 250px;
  overflow: hidden;
  border-radius: 1px 1px 50px 1px;
  /* box-shadow: 1px 0px 12px 5px rgb(36, 37, 36); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 3px solid #c2fdd4;
}

.project a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.projectDiv img {
  width: 170px;
  height: 250px;
  object-fit: cover;
}

.dark .projectDiv img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.dark .project:hover .projectDiv img {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}

.project span {
  position: absolute;
  bottom: 10px;
  left: -15px;
  padding-right: 12px;
  align-items: center;
  display: flex;
  justify-content: end;
  color: #c2fdd4;
  font-weight: bold;
  z-index: 3;
  color: #042d30;
  background-color: #c2fdd4;
  border-radius: 5px;
  width: 100%;
  height: 15%;
  text-align: end;
  opacity: 0.9;
  font-size: 2vw;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: color 0.3s ease; /* Transition text color */
}

.project::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 37, 36, 0.5); /* Transparent green color */
  transition: background-color 0.3s ease;
  z-index: 1;
  /* transform: rotateY(180deg); */
}

.project:hover {
  transform: scale(1.05); /* Scale the project on hover */
  box-shadow: 10px 10px 12px 0px rgb(232, 232, 120);
}

.dark .project:hover {
  transform: scale(1.05); /* Scale the project on hover */
  box-shadow: 10px 10px 12px 0px #c2fdd4; /* Add box-shadow on hover */
}

.project:hover::before {
  background-color: transparent;
}

.project:hover span {
  color: #c2fdd4;
  background-color: #042d30; /* Change text color on hover */
}

/* .project::before {
  content: "Open Link"; 
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 100%;
  background-color: rgba(255, 255, 0, 0.8); 
  padding: 10px 20px; 
  border-radius: 5px; 
  text-align: center;
  transform: translateY(100%); 
  transition: transform 0.3s ease, bottom 0.3s ease; 
}

.project:hover::before {
  transform: translateY(0);
  bottom: 0; 
} */

@media screen and (min-width: 600px) {
  .projectDiv img,
  .project {
    width: 250px;
    height: 320px;
    object-fit: cover;
  }
}
@media screen and (min-width: 1000px) {
  .projectDiv img,
  .project {
    width: 450px;
    height: 550px;
    object-fit: cover;
  }
}
